<?xml version='1.0' encoding='utf-8'?>
<widget id="com.appgap.org" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>hegra</name>
    <description>
		احسب نقاطك للهجرة و اعرف المزيد عن دول الهجرة
	calculate your score and know more about immigration counties
	</description>
    <author email="" href="">
		afaak team
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
	<gap:plugin name="phonegap-admob" source="npm"/>
    <plugin name="cordova-plugin-battery-status" source="npm" spec="~1.1.1" />
    <plugin name="cordova-plugin-camera" source="npm" spec="~2.1.1" />
    <plugin name="cordova-plugin-media-capture" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-console" source="npm" spec="~1.0.2" />
    <plugin name="cordova-plugin-contacts" source="npm" spec="~2.0.1" />
    <plugin name="cordova-plugin-device" source="npm" spec="~1.1.1" />
    <plugin name="cordova-plugin-device-motion" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-device-orientation" source="npm" spec="~1.0.2" />
    <plugin name="cordova-plugin-dialogs" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-file" source="npm" spec="~4.1.1" />
    <plugin name="cordova-plugin-file-transfer" source="npm" spec="~1.5.0" />
    <plugin name="cordova-plugin-geolocation" source="npm" spec="~2.1.0" />
    <plugin name="cordova-plugin-globalization" source="npm" spec="~1.0.3" />
    <plugin name="cordova-plugin-inappbrowser" source="npm" spec="~1.3.0" />
    <plugin name="cordova-plugin-media" source="npm" spec="~2.2.0" />
    <plugin name="cordova-plugin-network-information" source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-splashscreen" source="npm" spec="~3.2.1" />
    <plugin name="cordova-plugin-statusbar" source="npm" spec="~2.1.2" />
    <plugin name="cordova-plugin-vibration" source="npm" spec="~2.1.0" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />

    <platform name="android">
        <icon density="ldpi" src="logo.jpg" />
        <icon density="mdpi" src="logo.jpg" />
        <icon density="hdpi" src="logo.jpg" />
        <icon density="xhdpi" src="logo.jpg" />
        <icon density="xxhdpi" src="logo.jpg" />
        <icon density="xxxhdpi" src="logo.jpg" />
        <splash density="land-ldpi" src="logo.jpg" />
        <splash density="land-mdpi" src="logo.jpg" />
        <splash density="land-hdpi" src="logo.jpg" />
        <splash density="land-xhdpi" src="logo.jpg" />
        <splash density="land-xxhdpi" src="logo.jpg" />
        <splash density="land-xxxhdpi" src="logo.jpg" />
        <splash density="port-ldpi" src="logo.jpg" />
        <splash density="port-mdpi" src="logo.jpg" />
        <splash density="port-hdpi" src="logo.jpg" />
        <splash density="port-xhdpi" src="logo.jpg" />
        <splash density="port-xxhdpi" src="logo.jpg" />
        <splash density="port-xxxhdpi" src="logo.jpg" />
    </platform>
    <platform name="ios">
        <icon height="57" platform="ios" src="logo.jpg" width="57" />
        <icon height="114" platform="ios" src="logo.jpg" width="114" />
        <icon height="40" platform="ios" src="logo.jpg" width="40" />
        <icon height="80" platform="ios" src="logo.jpg" width="80" />
        <icon height="50" platform="ios" src="logo.jpg" width="50" />
        <icon height="100" platform="ios" src="logo.jpg" width="100" />
        <icon height="60" platform="ios" src="logo.jpg" width="60" />
        <icon height="120" platform="ios" src="logo.jpg" width="120" />
        <icon height="180" platform="ios" src="logo.jpg" width="180" />
        <icon height="72" platform="ios" src="logo.jpg" width="72" />
        <icon height="144" platform="ios" src="logo.jpg" width="144" />
        <icon height="76" platform="ios" src="logo.jpg" width="76" />
        <icon height="152" platform="ios" src="logo.jpg" width="152" />
        <icon height="29" platform="ios" src="logo.jpg" width="29" />
        <icon height="58" platform="ios" src="logo.jpg" width="58" />
        <icon height="87" platform="ios" src="logo.jpg" width="87" />
        <splash height="1136" platform="ios" src="logo.jpg" width="640" />
        <splash height="1334" platform="ios" src="logo.jpg" width="750" />
        <splash height="2208" platform="ios" src="logo.jpg" width="1242" />
        <splash height="1242" platform="ios" src="logo.jpg" width="2208" />
        <splash height="1536" platform="ios" src="logo.jpg" width="2048" />
        <splash height="768" platform="ios" src="logo.jpg" width="1024" />
        <splash height="2048" platform="ios" src="logo.jpg" width="1536" />
        <splash height="1024" platform="ios" src="logo.jpg" width="768" />
        <splash height="960" platform="ios" src="logo.jpg" width="640" />
        <splash height="480" platform="ios" src="logo.jpg" width="320" />
    </platform>
    <platform name="wp8">
        <icon height="99" platform="wp8" src="logo.jpg" width="99" />
        <icon height="159" platform="wp8" src="logo.jpg" width="159" />
        <splash height="1280" platform="wp8" src="logo.jpg" width="768" />
    </platform>
    <platform name="windows">
        <icon height="150" platform="windows" src="logo.jpg" width="150" />
        <icon height="30" platform="windows" src="logo.jpg" width="30" />
        <icon height="50" platform="windows" src="logo.jpg" width="50" />
        <splash height="300" platform="windows" src="logo.jpg" width="620" />
        <icon height="120" platform="windows" src="logo.jpg" width="120" />
        <icon height="44" platform="windows" src="logo.jpg" width="44" />
        <icon height="106" platform="windows" src="logo.jpg" width="106" />
        <icon height="70" platform="windows" src="logo.jpg" width="70" />
        <icon height="71" platform="windows" src="logo.jpg" width="71" />
        <icon height="170" platform="windows" src="logo.jpg" width="170" />
        <icon height="360" platform="windows" src="logo.jpg" width="360" />
        <icon height="310" platform="windows" src="logo.jpg" width="310" />
        <icon height="150" platform="windows" src="logo.jpg" width="310" />
        <icon height="360" platform="windows" src="logo.jpg" width="744" />
        <splash height="1920" platform="windows" src="logo.jpg" width="1152" />
    </platform>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
